{% extends "main2.html" %}

{% block main %}


<!-- <main class="form-signin w-100 m-auto">
    
    <form action="confirmacion" method="post">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-add h3 mb-3 fw-normal" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
        <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

        <div class="form-floating">
            <input name="nombre" type="text" class="form-control" id="floatingInput" placeholder="Nombre de usuario" required>
            <label for="floatingInput">Nombre de usuario</label>
        </div>

        <div class="form-floating">
            <input name="apellido_paterno" type="text" class="form-control" id="floatingInput" placeholder="Apellido paterno" required>
            <label for="floatingInput">Apellido paterno</label>
        </div>

        <div class="form-floating">
            <input name="apellido_materno" type="text" class="form-control" id="floatingInput" placeholder="Apellido materno" required>
            <label for="floatingInput">Apellido materno</label>
        </div>

        <div class="form-floating">
            <input name="name_user" type="text" class="form-control" placeholder="" required>
            <label for="floatingInput">Nombre de usuario</label>
        </div>

        <div class="form-floating">
            <input name="correo" type="mail" class="form-control" placeholder="" required>
            <label for="floatingInput">Correo electrónico</label>
        </div>

        <div class="form-floating">
            <input name="telefono" type="tel" class="form-control" placeholder="" required>
            <label for="floatingInput">Número de teléfono</label>
        </div>

        <div class="form-floating">
            <input name="puesto_de_trabajo" type="text" class="form-control" placeholder="" required>
            <label for="floatingInput">Puesto de trabajo</label>
        </div>

        <div class="form-floating">
            <select name="tipo_user" class="form-select " required>
                <option selected disabled>Seleciona el tipo de usuario</option>
                <option value="1">Administrativo</option>
                <option value="2">Empleado</option>
            </select>
            <label for="floatingInput">Tipo de usuario</label>
        </div>

        <div class="form-floating">
            <select name="area" class="form-select" required>
                <option selected disabled>Seleciona el área de trabajo</option>
                <option value="1">Administración</option>
                <option value="2">Contabilidad</option>
                <option value="3">Dirección</option>
                <option value="4">Finanzas</option>
                <option value="5">Gestión</option>
                <option value="6">Producción y operaciones</option>
                <option value="7">Recursos humanos</option>
                <option value="8">Ventas y mercadeo</option>
            </select>
            <label for="floatingInput">Área de trabajo</label>
        </div>

        <div class="form-floating">
            <input name="contraseña" type="password" class="form-control" placeholder="" required>
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Registrarse</button>
        
    </form>

    
</main> -->

    <div class="card shadow col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4 col-auto "> 
        <div class="mb-1">
            <form action="confirmacion" method="post">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-add h3 mb-3 fw-normal" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                </svg>
                <h1 class="h3 mb-3 fw-normal">Registrate</h1>

                <div class="mb-4">
                    <label >Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder= "ej: Gabriel" required>
                </div> 

                <div class="mb-4 d-flex justify-content-between"> 
                    <div>
                        <label>Apellido paterno</label>
                        <input type="text" class="form-control" name="apellido_paterno" placeholder= "ej: Pacheco" required>
                    </div>
                    <div >
                        <label>Apellido materno</label>
                        <input type="text" class="form-control" name="apellido_materno"  placeholder= "ej: Lara" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label>Correo</label>
                    <input type="mail" class="form-control" name="correo"  placeholder= "ej: gpmcheco@mail.com" required>
                </div>

                <div class="mb-4 d-flex justify-content-between"> 
                    <div>
                        <label>Nombre de usuario</label>
                        <input type="text" class="form-control" name="name_user" placeholder= "ej: example user" required>
                    </div>
                    <div >
                        <label>Número de teléfono</label>
                        <input type="tel" class="form-control" name="telefono"  placeholder= "xxxxxxxx" required>
                    </div>
                </div>
                
                <div class="mb-4">
                    <label>Puesto de trabajo</label>
                    <input type="mail" class="form-control" name="puesto_de_trabajo"  placeholder= "ej: Desarrollador" required>
                </div>

                <div class=" form-floating mb-4">
                    <select name="tipo_user" class="form-select " required>
                        <option selected disabled>Seleciona el tipo de usuario</option>
                        <option value="1">Administrativo</option>
                        <option value="2">Empleado</option>
                    </select>
                    <label for="floatingInput">Tipo de usuario</label>
                </div>

                <div class="mb-2">
                    <button id ="botton" class="col-12 btn btn-primary d-flex justify-content-between ">
                        <span>Registrarse </span>
                    </button>
                </div> 
                          
            </form>
        </div>
    </div>


{% endblock %}